.bicicletas-bg:nth-child(odd){
  background: var(--cor-11);
}
.bicicletas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.bicicleta-imagem span{
  background: var(--cor-12);
  display: inline-block;
  padding: 8px 16px 8px 16px;
  
}